<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %>
    <%  if user.photos %>
    <% user.photos.each do |photo| %>
    <%= image_tag photo.image.url(:small) %>
    <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
