<DOCTYPE! HTML>
<html>
  <header>
    <title>
      Photos
    </title>
  </header>
  <body>
    <h1>Photos</h1>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <ul>
            <li> Button1 </li>
            <li> Button2 </li>
            <li> Button3 </li>
          </ul>
        </div>
    </nav>
    <% @photos.each do |picture| %>
      <%= image_tag picture.image.url(:small) %>
    <% end %>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>
