// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Height and width for pictures in Photos Index
.container .row .col-md-4 img {
  height: 330px;
  width: 480px;
}
// CSS for navbar
.nav .container ul li {
  margin-right: 40px;
}
.nav .container {
  background-color: #cccdce;
  width: 100%;
  padding-top: 30px;
  height: 80px;
  text-align: center;
  // margin-top: 50px;
}
// CSS for Entire Container containing Pictures
body .container {
  background-color: #cccdce;
  width: 100%;
}
.footer {
  background-color: #cccdce;
}
// CSS to make buttons hover
.nav {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
  color: black;
}

.nav:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;
}
